/* Main */

body {
  font-family: 'Nunito', sans-serif;
  background-color: #fff;
  color: #000;
  transition: all 0.3s ease;
}

pre {
  font-family: monospace;
  overflow-x: auto;
}

.tocenter {
  text-align: center;
}

/* Dark mode */

body.dark {
  background-color: #121212;
  color: #f0f0f0;
}

body.dark .card {
  background-color: #1e1e1e;
  color: #f0f0f0;
}

body.dark .text-muted {
  color: #cccccc !important;
}

body.dark .c2 {
  background-color: #1e1e1e;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}

body.dark .nav-link,
body.dark .navbar-brand {
  color: rgb(220, 220, 220) !important;
  font-weight: bold;
}

body.dark .navbar-toggler {
  background-color: rgb(95, 89, 89);
}

body.dark #theme-icon {
  color: rgb(220, 220, 220);
}

body.dark .bc:hover {
  background-color: rgb(235, 243, 255);
  border-radius: 8px;
}

body.dark .nav-link:hover {
  color: rgb(94, 228, 255) !important;
}

body.dark #theme-toggle:hover svg {
  color: rgb(94, 228, 255);
  fill: rgb(94, 228, 255);
}

/* Layout & Container */

.container {
  max-width: 960px;
  padding-left: 1rem;
  padding-right: 1rem;
}

.blog-wrapper {
  max-width: 1100px;
  margin: 0 auto;
}

.hero-bg {
  background-image: url('./assets/images/Gemini_Generated_Image_upfs8xupfs8xupfs.jfif');
  background-size: cover;
  background-position: center;
  height: 450px;
  position: relative;
  z-index: 1;
}

#page {
  margin-top: -100px;
  z-index: 10;
  position: relative;
}

.navbar {
  padding: 0;
}

body .c2 {
  background-color: rgb(255, 255, 255);
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}

/* Components */

.card {
  border-radius: 15px;
}

.badge {
  font-size: 0.75rem;
  padding: 0.4em 0.6em;
}

.ic, .ict {
  background-color: rgb(235, 243, 255);
  padding: 5px;
  border-radius: 20%;
}

.bc {
  width: 100px;
  text-align: center;
}

.ach {
  background-color: rgb(55, 55, 55);
}

.tcy {
  cursor: pointer;
}

/* Hover */

.tcy:hover {
  color: rgb(94, 228, 255);
}

.ach:hover strong {
  color: rgb(3, 57, 111);
}

.ach:hover {
  background-color: rgb(108, 193, 210);
}

.ic:hover {
  background-color: rgb(185, 243, 255);
}

.bc:hover {
  background-color: rgb(235, 243, 255);
  border-radius: 8px;
}

.nav-link {
  transition: color 0.3s ease, background-color 0.3s ease;
  font-weight: bold;
  color: rgb(34, 34, 34) !important;
}

.nav-link:hover {
  color: rgb(94, 228, 255) !important;
}

.navbar-brand {
  color: rgb(34, 34, 34) !important;
  font-weight: bold;
}

#theme-toggle:hover {
  background-color: rgb(235, 243, 255);
}

#theme-toggle:hover svg {
  color: rgb(94, 228, 255);
  fill: rgb(94, 228, 255);
}

/* responsive for small screen found it overlapping when using mobile size s, m screen size */
pre, code {
  white-space: pre-wrap;
  word-break: break-word;
}


#post-content .card {
  width: 100%;
  overflow-x: auto;
}

#post-content {
  overflow-x: hidden;
  word-wrap: break-word;
}


@media (max-width: 576px) {
  .card {
    padding: 1rem;
  }
  pre {
    font-size: 0.85rem;
  }
}
